<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <%- locals.flash %>
    <form method="POST">
      <label>Username :</label>
      <input type="text" name="username"  />
      <br />
      <label>Email :</label>
      <input type="email" name="email"  />
      <br />
      <label>Password :</label>
      <input type="password" name="password"  />
      <br />
      <label>Re-type Password :</label>
      <input type="password" name="password_match"  />
      <br />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
