<!DOCTYPE html>
<html>
  <%- include('partials/header') %>
  <body>
<div class="container">
  <div class="row">
    <%- include('partials/nav') %>

    <%- content %>
</div>
</body>
<footer>
  <%- include('partials/footer') %>
</footer>
</html>
