<div class="row">
  <div class="col-md-12">
      <div class="col-md-4">
        <div class="well well-lg">
          <a href="/admin/charts"><span class="glyphicon glyphicon-film"></span> Movies Management</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          <a href="/admin/upload"><span class="glyphicon glyphicon-user"></span> Movie Upload</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          <a href="/admin/user-management"><span class="glyphicon glyphicon-link"></span> User Management</a>
        </div>
      </div>
  </div>
</div>
