<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch</title>

  <!-- Main Font -->
    <script src="js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>
    <style>
    </style>

  <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/public/Bootstrap/dist/css/bootstrap-reboot.css">
  <!-- Our-->
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Theme Styles CSS -->
	<link rel="stylesheet" type="text/css" href="/public/css/theme-styles.css">
	<link rel="stylesheet" type="text/css" href="/public/css/blocks.css">
	<link rel="stylesheet" type="text/css" href="/public/css/fonts.css">

	<!-- Styles for plugins -->
	<link rel="stylesheet" type="text/css" href="/public/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/mediaelement-playlist-plugin.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/mediaelementplayer.css">

  <link rel="stylesheet" type="text/css" href="/public/css/datepicker.min.css">

  <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.min.css">

	<!-- Lightbox popup script-->
	<link rel="stylesheet" type="text/css" href="/public/css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/public/css/video-js.css">

  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap-datetimepicker.min.js"></script>


  <style>
  body{
    color: #fff !important;
  }
  </style>
</head>
