<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch</title>

  <!-- Main Font -->
    <script src="/public/js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>
    <style>
    .scroll{
        height: 370px;
        overflow-y: auto;
    }
    .glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
    }
    </style>

  <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/public/Bootstrap/dist/css/bootstrap-reboot.css">
  <!-- Our-->
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Theme Styles CSS -->
	<link rel="stylesheet" type="text/css" href="/public/css/theme-styles.css">
	<link rel="stylesheet" type="text/css" href="/public/css/blocks.css">
	<link rel="stylesheet" type="text/css" href="/public/css/fonts.css">

	<!-- Styles for plugins -->
	<link rel="stylesheet" type="text/css" href="/public/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/mediaelement-playlist-plugin.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/mediaelementplayer.css">

  <link rel="stylesheet" type="text/css" href="/public/css/datepicker.min.css">

  <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.min.css">

  <link rel="stylesheet" type="text/css" href="/public/css/swiper.css">
  <link rel="stylesheet" type="text/css" href="/public/css/listnav.css">


	<!-- Lightbox popup script-->
	<link rel="stylesheet" type="text/css" href="/public/css/magnific-popup.css">
  <!--<link rel="stylesheet" type="text/css" href="/public/css/video-js.min.css">-->

  <!-- If you'd like to support IE8-->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap-datetimepicker.min.js"></script>

  <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <style>
  body{
    color: #fff !important;
  }


  button.like{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 50px;
}

button.dislike{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 50px;
}


.list-notificacao{
  min-width: 400px;
  background: #ffffff;
}

.list-notificacao li{
   border-bottom : 1px #d8d8d8 solid;
   text-align    : justify;
   padding       : 5px 10px 5px 10px;
   cursor: pointer;
   font-size: 12px;
}

.list-notificacao li:hover{
background: #f1eeee;
}

.list-notificacao li:hover .exclusaoNotificacao{
display: block;
}

.list-notificacao li  p{
 color: black;
 width: 305px;
}

.list-notificacao li .exclusaoNotificacao{
    width: 25px;
    min-height: 40px;
    position: absolute;
    right: 0;
    display: none;
}

.list-notificacao .media img{
    width: 40px;
    height: 40px;
    float:left;
    margin-right: 10px;
}

.badgeAlert {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #d9534f;
    border-radius: 10px;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px
}
  </style>
</head>
