<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="1000">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" style="margin-left: 0;" href="/"><label style="font-family: 'Trebuchet MS', Helvetica, sans-serif;text-shadow: 3px 2px black;">Watch<label></a>
   </div>
   <ul class="nav navbar-nav" style="padding-left: 30px;">
     <li class="active"><a href="/home">Home</a></li>
     <li><a href="#">Browse</a></li>
     <%if(locals.session.loggedId){%>
     <li><a href="/profile">Profile</a></li>
     <li><a href="/subscribe">Subscription</a></li>
     <%}if(locals.session.type==1){%>
     <li><a href="/admin">Admin Panel</a></li><%}%>
     <li><a href="#">About</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <%if(!locals.session.loggedId){%>
     <li><a href="#" data-toggle="modal" data-target="#basicModal"><span class="glyphicon glyphicon-log-in"></span> Join</a></li><%}%>
     <%if(locals.session.loggedId){%>
       <li><a href="/login/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li><%}%>
   </ul>
 </div>
</nav>
