<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="1000">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">WebSiteName</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Home</a></li>
     <li><a href="#">Browse</a></li>
     <li><a href="#">About</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <li><a href="#" data-toggle="modal" data-target="#basicModal"><span class="glyphicon glyphicon-log-in"></span> Join</a></li>
   </ul>
 </div>
</nav>
