<%- contentFor('body') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <h4></h4>
        <ul>
          <li>

          </li>
        </ul>
      </div>
      <br /><br />
      <div class="well well-sm">
        <div class="pull-right">
          <a href="/movie/play/<%= movie.movie_id %>" class="btn btn-success">Play</a>
        </div>
      </div>
    </div>
  </div>
</div>
