<%- contentFor('body') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        <video id="my-video" class="video-js" controls preload="auto" width="100%" height="100%" data-setup="{}">
          <!-- Documentation - http://videojs.com/getting-started/#build-build
          second: https://github.com/videojs/video.js
          third: https://www.npmjs.com/package/video.js/
          forth: http://docs.videojs.com/
        -->
            <!--<source src="/public/videos/SpaceShooter-GamePlay.mp4" type='video/mp4'>-->
            <source src="/public/videos/<%=movie_id%>.mp4" type='video/mp4'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
      </div>
    </div>
  </div>
</div>
<script>
var myPlayer = document.getElementById("my-video");
myPlayer.onpause = function() {
   alert(myPlayer.currentTime);
};
</script>
