<div class="row">
  <div class="col-md-12">
    <div class="well well-lg">
      <div class="col-md-4">
        <div class="well well-lg">
          <a href="#"><span class="glyphicon glyphicon-film"></span> Movies Management</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          <a href="#"><span class="glyphicon glyphicon-user"></span> Users Management</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          <a href="#"><span class="glyphicon glyphicon-link"></span> Subscriptions Management</a>
        </div>
      </div>
    </div>
  </div>
</div>
